.Results {
    display: grid;
    justify-content: center;
}
.Results_Header {
    display: flex;
    color: white;
    justify-content: center;
}

.Results_Header select {
    width: 15vh;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 1vh;
    font-size: 1rem;
    text-align: center;
}

.Results_Header p {
    font-size: 1.7rem;
    margin-top: 0vh;
}

.Results_List {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    margin: 20px auto;
    width: 50vh;
    height: 55vh;
    overflow: auto
}