html {
  background-color: #282c34;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.BetweenUs_Header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App_Results {
  display: grid;
  grid-template-columns: auto auto;
}